.card-img {
    width: 6rem;
}

.temp {
    font-size: 4rem;
}

.condition {
    text-align: center;
}

.card {
    color: whitesmoke;
    width: 40rem;
    margin: auto;
    background-color: #0d0825;
    border: solid 1px rgba(255,255,255,.12);
}

.content {
    background-color: #0d0825;
    border: solid 1px #0d0625;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 40rem;
    }
}

@media screen and (max-width: 992px) {
    .card {
        width: 40rem;
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: 30rem;
    }

    .temp {
        font-size: 3rem;
    }
}
@media screen and (max-width: 576px) {
    .card {
        width: 25rem;
    }
}

@media screen and (max-width: 452px) {
    .card {
        width: 20rem;
    }


    .temp {
        font-size: 2rem;
    }
}
@media screen and (max-width: 375px) {
    .card {
        width: 18rem;
    }

    .temp {
        font-size: 1.5rem;
    }
}