<mat-card class="card mt-3">
    <mat-card-header>
        <mat-card-title>WeatherWise</mat-card-title>
        <mat-card-subtitle>Your Your Reliable Guide to Real-Time Weather</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
    
        Welcome to WeatherWise, your online destination for accurate and up-to-date weather information. At WeatherWise, we believe in providing our users with the best possible experience when it comes to knowing the current and future weather conditions. Whether you're planning outdoor activities, a trip, or just want to stay informed, we're here to help.
    </mat-card-content>
</mat-card>