.card {
    color: whitesmoke;
    width: 50rem;
    margin: auto;
    background-color: #0d0825;
    border: solid 1px rgba(255,255,255,.12);
}

mat-divider {
    width: 93.5%;
    align-self: center;
    margin: .5rem;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 45rem;
    }

}

@media screen and (max-width: 992px) {

    .card {
        width: 37rem;
    }
}

@media screen and (max-width: 768px) {

    .card {
        width: 30rem;
    }
}
@media screen and (max-width: 576px) {

    .card {
        width: 25rem;
    }

}

@media screen and (max-width: 452px) {

    .card {
        width: 20rem;
    }

}
@media screen and (max-width: 375px) {

    .card {
        width: 15rem;
    }

}