<mat-toolbar class="navbar">
  <img src="assets/zyro-image (1).png" class="nav-img" alt="">
  <mat-form-field appearance="outline" class="example-full-width pt-4" color="accent">
    <mat-label>Type a city</mat-label>
    <input (keyup.enter)="searchCity()" #inputCity matInput placeholder="Ex. Paris">
  </mat-form-field>
  <div class="nav-socials">
    <a href="https://github.com/GeronimoBocca" target="_blank"><i class="devicon-github-original nav-icon p-2"></i></a>
    <a href="https://www.linkedin.com/in/geronimo-bocca/" target="_blank"><i
        class="devicon-linkedin-plain nav-icon p-2"></i></a>
  </div>
</mat-toolbar>